.title{
   font-size: 1.875rem;
   color: var(--white);
   font-weight: 500;
   margin-bottom: 0.625rem;
}

.subtitle{
   font-size: 1.5rem;
   color: var(--white);
   font-weight: 400;
   margin: 0.3125rem 0;
}

.link{
   text-decoration: none;
   color: inherit;
}