.header p{
   font-size: 1.875rem;
   font-weight: 600;
   color: var(--white);
   text-align: center;
}
.header button{
   background-color: var(--white);
   border: 0.125rem var(--black) solid;
   border-radius: 0.3125rem;
   font-size: 1.25rem;
   padding: 0.3125rem 0.9375rem;
   cursor: pointer;
   transition: all 0.3s ease;
   margin-top: 1.25rem;
}
.header button:hover{
   background-color: var(--black);
   border: 0.125rem var(--white) solid;
   color: var(--white);
}

