.root{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   background-color: var(--black);
   padding: 0.9375rem;
   border-radius: 0.625rem;
}

.title{
   font-size: 1.875rem;
   color: var(--light-grey);
   font-weight: 600;
}
.info{
   display: flex;
   gap: 1.25rem;
   font-weight: 500;
   color: var(--yellow);
}

.ratingTitle{
   color: var(--light-grey);
   font-weight: 500;
   margin-right: 0.3125rem;
}
.ratingData{
   font-size: 1.25rem;
   color: var(--yellow);
   font-weight: 700;
}