.item{
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1.25rem;
   border: 0.125rem var(--black) solid;
   border-radius: 0.3125rem;
   padding: 0.3125rem;
}

.title{
   font-weight: 500;
   font-size: 1.625rem;
   color: var(--white);
}

.rating{
   font-size: 1.875rem;
   font-weight: 700;
   padding-right: 0.625rem;

   span{
      color: var(--yellow);
   }
}
.poster{
   min-width: 9.375rem;
   max-width: 9.375rem;
   position: relative;

   
}

.image{
   width: 100%;
   border-radius: 0.3125rem;
}