.root{
   position: relative;
   display: flex;
   background-color: var(--dark-grey);
   max-width: 60%;
   margin: 1.25rem 0;
   padding: 0.9375rem;
   gap: 1.25rem;
   border-radius: 0.3125rem;
}

.poster{
   width: 12.5rem;
   height: 17rem;

   img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.3125rem;
   }
}

.content{
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   button{
      display: block;
   }
}


.info{
   color: var(--white);
   font-size: 18px;
   p{
      margin: 0 0 0.3125rem 0;
   }
}

.btn{
   background-color: var(--white);
   border: 0.06rem solid var(--black);
   color: var(--black);
   border-radius: 0.3125rem;
   padding: 0.3125rem 0.625rem;
   cursor: pointer;
   font-size: 1.25rem;
   font-weight: 500;
   transition: all 0.4s ease;

   &:hover{
      color: var(--white);
      background-color: var(--black);
   }
}