.root{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   background-color: var(--black);
   padding: 0.9375rem;
   border-radius: 0.625rem;
}

.name{
   font-size: 1.875rem;
   color: var(--light-grey);
   font-weight: 600;
   margin: 0.3rem 0;
}
.birthDate{
   font-weight: 500;
   color: var(--yellow);
}

.role{
   color: var(--light-grey);
   font-weight: 500;
   margin-right: 0.3125rem;
}