.cast{
   background-color: var(--light-grey);
   border-radius: 0.3125rem;
   padding: 0.9375rem;
   margin-top: 2.5rem;

   img{
      width: 5rem;
      border-radius: 0.3125rem;
   }
}

.castTitle{
   font-size: 2.25rem;
   color: var(--yellow);
   margin-bottom: 0.625rem;
}

.castName{
   color: var(--white);
   font-size: 1.625rem;
   transition: all 0.3s ease;

   &:hover{
      color: var(--black);
   }
}

.actors{
   display: flex;
   gap: 0.625rem;
   align-items: center;
   margin-bottom: 0.625rem;
   padding-bottom: 0.3125rem;
   border-bottom: 0.125rem solid var(--white);
}