.cast{
   background-color: rgb(117, 117, 117);
   border-radius: 5px;
   padding: 15px;
   margin-top: 40px;
}
.cast img{
   width: 80px;
   border-radius: 5px;
}

.castTitle{
   font-size: 36px;
   color: rgb(255, 230, 0);
   margin-bottom: 10px;
}

.castName{
   color: white;
   font-size: 26px;
   transition: all 0.3s ease;
}

.castName:hover{
   color: black;
}

.actors{
   display: flex;
   gap: 10px;
   align-items: center;
   margin-bottom: 10px;
   padding-bottom: 5px;
   border-bottom: 2px solid white;
}